.container {
  color: var(--text-color);
  font-size: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.title {
  text-align: center;
  background: var(--gradient);
  background-clip: text;
  color: transparent;
  font-size: 3.6em;
  text-align: center;
  padding-top: 20vh;
  padding-left: 0;
  padding-right: 0;
  transition: all 0.4s ease-in-out;
}

.hi {
  font-size: 2.4em;
  margin: 4vh auto 2rem;
  max-width: 500px;
  padding: 10px 20px;
}

.wave {
  display: inline-block;
  width: 60px;
  height: 60px;
  animation: wave-hand 1s infinite ease-in-out;
  animation-play-state: paused;
}

.hi:hover .wave {
  animation-play-state: running;
}

@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(70deg) scale(1.3) translate(8px, -20px);
  }
  100% {
    transform: rotate(0deg);
  }
}

.description {
  font-size: 1.4em;
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 500px;
}

.face {
  align-self: center;
  width: 80%;
  max-width: 400px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.location {
  font-family: "Inconsolata", monospace;
  position: absolute;
  text-transform: uppercase;
  right: 2vw;
  bottom: 2vw;
  text-align: right;
  margin-top: 4vw;
}

@media only screen and (min-width: 900px) {
  .wave {
    display: inline-block;
    width: 80px;
    height: 80px;
  }

  @keyframes wave-hand {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(70deg) scale(1.3) translate(12px, -50px);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@media only screen and (max-width: 640px) {
  .container {
    font-size: 80%;
  }
  .wave {
    width: 45px;
    height: 45px;
  }
  .frame__twocolumn {
    grid-template-columns: 100%;
  }
  .face {
    grid-row: 1 / 2;
    max-width: 250px;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    padding-top: 10vw;
  }
  .location {
    position: relative;
  }
}

@media only screen and (max-height: 550px) {
  .container {
    font-size: 80%;
  }
  .location {
    grid-column: 1 / span 2;
    position: relative;
  }
}
