.container {
  position: relative;
  top: -60px;
  background: white;
  color: var(--text-color);
  height: 100vh;
  font-size: 100%;
  overflow: hidden;
}

.title {
  background: var(--gradient);
  font-size: 3.6em;
  text-align: center;
  margin-top: 26vh;
  padding-left: 0;
  padding-right: 0;
  transition: all 0.4s ease-in-out;
}

.hi {
  font-size: 2.4em;
  margin: 4vh auto 0;
  max-width: 500px;
  padding: 10px 20px;
}

.wave {
  display: inline-block;
  width: 64px;
  height: 64px;
  animation: wave-hand 2s infinite ease-in-out;
  animation-play-state: paused;
}

.wave:hover {
  animation: wave-hand 2s infinite ease-in-out;
  animation-play-state: running;
}

@keyframes wave-hand {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(80deg) scale(1.5);
  }
  to {
    transform: rotate(0deg);
  }
}

.description {
  font-size: 1.4em;
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 500px;
}

.location {
  font-family: "Inconsolata", monospace;
  position: absolute;
  text-transform: uppercase;
  right: 2vw;
  bottom: 2vw;
  text-align: right;
  font-weight: 900;
  margin-top: 4vw;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 640px) {
  .container {
    font-size: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    padding-top: 20vh;
  }
}

@media only screen and (max-height: 420px) {
  .container {
    font-size: 80%;
    height: 100%;
  }
  .title {
    padding-top: 14vh;
  }
  .location {
    position: relative;
  }
}
